include ../mixins/mixins

<!DOCTYPE html>
html(lang="en")
  include ../includes/head
  body
    wrapper.wrapper
      header.header
        section.logo
          
          .logo__tipe 
            //- i.fas.fa-tint
            img(src="img/water.svg", alt="")
            p.logo__text Fit
            p.logo__text__cont ness
          .nav__nav
            a.nav__item About
            a.nav__item How it works
            a.nav__item Services
            a.nav__item Fqo
            a.nav__item Contact

        .fon__text
          .fon__text__one
            h1.fon__zogo Fitness in a can
            h3.fon__color /
          .fon__text__title
            h2.fon__zogo__two Yes you can
            h4.fon__color__two /


