include mixins/mixins

<!DOCTYPE html>
html(lang="en")
  include includes/head
  body
    wrapper.wrapper
      header.header
        div.container
          .header__container
            .logo
              img.logo__img(src="img/water.png", alt="")
              span.logo__text Fitness
            .nav__wrap
              a.nav__item About
              a.nav__item How it works
              a.nav__item Services
              a.nav__item Fqo
              a.nav__item Contact
          .fon__text
            .fon__text__one
              h1.fon__zogo Fitness in a can
            .fon__text__title
              h2.fon__zogo__two Yes you can
      .block
        .container
          .block__icontext
            .block__icons
              i.icon-case
              h1.block__zogolovok Resources
              p.block__paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, illo Lorem, ipsum Lorem ipsum dolor sit amet.
              p.block__but Explore more →
              

            .block__icons
              i.icon-speed
              h1.block__zogolovok Training & Funding
              p.block__paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, illo Lorem, ipsum Lorem ipsum dolor sit amet.
              p.block__but Browse training →

            .block__icons
              i.icon-cloud
              h1.block__zogolovok Connect
              p.block__paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, illo Lorem, ipsum Lorem ipsum dolor sit amet.
              p.block__but Connect now →

            .block__icons
              i.icon-message
              h1.block__zogolovok Communicate
              p.block__paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, illo Lorem, ipsum Lorem ipsum dolor sit amet.
              p.block__but Start now →
      

          .aside
            .aside__block
              p.aside__subject it’s all about
              span.aside__title fitness first
              .aside__water-img
                img(src="img/water-gray.png", alt="")
              .block__text
                p.aside__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                a.aside__link Read more
            .aside__img
              img.aside__image(src="img/girl.png", alt="")
              .pic__text
                p.pic__paragraf Active Users 
                p.pic__number (34)
                img.pic__water(src="img/water-red.png", alt="")

          .aside__two
            .aside__img
              img.aside__image(src="img/watch.png", alt="")
              .pic__title
                p.pic__number Products USed (658)
                img.pic__water(src="img/water-red.png", alt="")
            .aside__block
              p.aside__subject Love your
              span.aside__title Your body
              .aside__water-img
                img(src="img/water-gray.png", alt="")
              .block__text
                p.aside__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                a.aside__link Read more
      .kate
        .container
          .kate__tape
            .kate__picture
              img.kate__img(src="img/run man.png", alt="")
              .kate__text
                .text__flex
                  .text__desc
                    .desc__paragraf
                      p.text__paragraf track your
                      p.text__title Lifestyle
                    .text__icon
                      i.icon-user
                  p.text__excerp Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            .logan__block
              img.juceap(src="img/man.png", alt="")
              .logan__tipe
                p.tipe__paragraf 24 th august
                .tipe__contamp
                  p.tipe__paragraf Health & fitness
                  img.tipe__icon(src="img/icon.png", alt="")
              .logan__text
                p.logan__paragraf summer of fun
                p.logan__para Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

      .kate
        .container
          .kate__tape
            .logan__blocktwo
              img.juceap__two(src="img/grapes.png", alt="")
              .logan__texttwo
                .text__two
                  p.text__paragraf track your
                  p.text__title get involved in your
                  .text__icon
                    i.icon-strawberry
                  p.text__excerptwo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumdolore eu fugiat nulla pariatur.
            .kate__pictwo
              img.kate__img(src="img/pineapple.png", alt="")
              .kate__texttwo
                .text__flex
                  .text__desc
                    .desc__paragraf
                      p.text__paragraftwo improve your
                      p.text__titletwo eating habits
                    .text__icon
                      img(src="img/water-white.png", alt="")
                  p.text__excerptwo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
    
      .picture
        .picture__text
          p.picture__zogolovok We launch leaders with big ideas
          p.picture__paragraf Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .info
        .container
          .container__block
            .container__title
              p.title__zogo Resources
              p.title__paragraf Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. work-in-progress by dragging images into projects and sharable client group
            .container__title.ceape
              p.title__zogo About Us
              p.title__paragraf.bape Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. work-in-progress by dragging images into projects and sharable client group
            .container__icon
              p.icon__zogo Stay in touch
              .icon__social
                i.fab.fa-facebook-f
                i.fab.fa-twitter
                i.fab.fa-youtube
                i.fab.fa-invision
          .container__form
            input.for__text(type="text" placeholder="Your name")
            input.form__email(type="email" placeholder="Your Email")
            .container__button
              button.form__button Join Newsletter
                i.fas.fa-chevron-circle-right