include mixins/mixins

<!DOCTYPE html>
html(lang="en")
  include includes/head
  body
    wrapper.wrapper
      header.header
        div.container.header__container
          .logo
            //- i.fas.fa-tint
            img.logo__img(src="img/water.png", alt="")
            span.logo__text Fitness
          .nav__nav
            a.nav__item About
            a.nav__item How it works
            a.nav__item Services
            a.nav__item Fqo
            a.nav__item Contact

        .fon__text
          .fon__text__one
            h1.fon__zogo Fitness in a can
          .fon__text__title
            h2.fon__zogo__two Yes you can
      .block
        .block__icontext
          .block__icons
            i.icon-case
            h1.block__zogolovok Resources
            p.block__paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, illo Lorem, ipsum Lorem ipsum dolor sit amet.
            p.block__but Explore more →
              

          .block__icons
            i.icon-speed
            h1.block__zogolovok Training & Funding
            p.block__paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, illo Lorem, ipsum Lorem ipsum dolor sit amet.
            p.block__but Browse training →

          .block__icons
            i.icon-cloud
            h1.block__zogolovok Connect
            p.block__paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, illo Lorem, ipsum Lorem ipsum dolor sit amet.
            p.block__but Connect now →

          .block__icons
            i.icon-message
            h1.block__zogolovok Communicate
            p.block__paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, illo Lorem, ipsum Lorem ipsum dolor sit amet.
            p.block__but Start now →
      

        .aside
          .aside__block
            p.aside__subject it’s all about
            span.aside__title fitness first
            .aside__water-img
              img(src="img/water-gray.png", alt="")
            .block__text
              p.aside__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
              a.aside__link Read more
          .aside__img
            img.aside__image(src="img/girl.png", alt="")
            .pic__text
              p.pic__paragraf Active Users 
              p.pic__number (34)
              img.pic__water(src="img/water-red.png", alt="")
